# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Docker
*.log
*.pid
docker-compose.override.yml

# Poetry
poetry.lock
.cache/

# Database
*.sql
*.sqlite3

# Misc
*.DS_Store
*.idea/
.vscode/
*.swp


план.txt
